@model IEnumerable<Castra.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<button id="openSearchButton"><i class="fa fa-plus"></i> Open Search options</button>

@using (Html.BeginForm())
{
    <p id="searchOptions">
        Type: @Html.TextBox("type") <br />
        Name: @Html.TextBox("name") <br />
        Price: @Html.TextBox("price") <br />
        <input type="button" value="Filter" class="btn btn-danger" onclick="search()" />
    </p>
}

<div id="partialContainer">
    @Html.Partial("~/Views/Shared/_ProdcutsPartial.cshtml", Model)
</div>

@section scripts{
    <script>
        function search() {
            var type = $("#type").val();
            var name = $("#name").val();
            var price = $("#price").val();
            //alert(type.val());
            $.ajax({
                type: "GET",
                url: "Product/SearchPartial/",
                data: { type: type, name: name, price: price },
                success: function (jsReturnArgs) {
                    $("#partialContainer").html(jsReturnArgs); //the HTML I returned from the controller
                },
                error: function (errorData) { onError(errorData); }
            });
        }
    </script>
}

<canvas id="myCanvas" width="900" height="630"
        style="border:1px solid #000000;"> 
</canvas>

<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var imageObj = new Image();
    imageObj.onload = function () {
        ctx.drawImage(imageObj, 0, 0);
    };
    imageObj.src = "/Images/clothes.jpg";
</script>

<style>
    #myCanvas {
        margin-top: 80px;
        -webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-ms-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
    }
    #myCanvas:hover {
        -webkit-transform:rotate(720deg) scale(1.5,1.5);
		-moz-transform:rotate(720deg) scale(1.5,1.5);
	    -ms-transform:rotate(720deg) scale(1.5,1.5);
		transform:rotate(720deg) scale(1.5,1.5);
    }
</style>