@model IEnumerable<Castra.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<button id="openSearchButton"><i class="fa fa-plus"></i> Open Search options</button>

<!--Search Form-->
@using (Html.BeginForm())
{
    <p id="searchOptions">
        Name: @Html.TextBox("name") <br /><br />
        Country: @Html.TextBox("country") <br /><br />
        <input type="button" value="Filter" class="btn btn-danger" onclick="search()"/>
    </p>
}

<!--Partial View for search results-->
<div id="partialContainer">
    @Html.Partial("~/Views/Shared/_SuppliersPartial.cshtml", Model)
</div>

<!--JavaScript that is invoked in Filter Button (uses Ajax)-->
@section scripts{
    <script>
        function search() {
            var name = $("#name").val();
            var country = $("#country").val();
            $.ajax({
                type: "GET",
                url: "Supplier/SearchPartial/",
                data: { country: country, name: name },
                success: function (jsReturnArgs) {
                    $("#partialContainer").html(jsReturnArgs); //the HTML I returned from the controller
                },
                error: function (errorData) { onError(errorData); }
            });
        }
    </script>
}